# Treat these as binary / large files to mark for LFS (if used)
*.zip filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
*.pack filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
ai-dashboard-starter/ai-dashboard.zip filter=lfs diff=lfs merge=lfs -text
.venv/Lib/site-packages/chromadb_rust_bindings/chromadb_rust_bindings.pyd filter=lfs diff=lfs merge=lfs -text
